/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: #f2f2f2;
    color: #222;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

#leftwheel {
	position: fixed;
    left: -200px;
    top: 15%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 400px;
    transform: rotate(0deg); /* rotation starts cleanly */
}

#rightwheel {
	position: fixed;
    right: -200px;
    top: 15%;
    transform: translateY(50%);
    pointer-events: none;
    width: 400px;
    transform: rotate(0deg); /* rotation starts cleanly */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
}

.nav-links {

    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Hero Section */
.hero {
    height: 75vh;
    background: linear-gradient(135deg, #222, #444);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero h2 span {
    color: #ffae00;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 500px;
}

.btn {
    padding: 12px 25px;
    background: #ffae00;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn:hover {
    background: #ffcc65;
}

/* Sections */
.section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/* Scroll Reveal Animation */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.highlight {
    transform: scale(1.1);
    color: #ffae00;
    transition: all 0.3s ease;
}
.Wordshighlight {
    color: #4903fc;
    transition: all 0.3s ease;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* Responsive */
@media (max-width: 600px) {
    .hero h2 {
        font-size: 32px;
    }

    .section {
        padding: 60px 20px;
    }
}

#particleCanvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -10;
    background: #101; /* optional */
}
