/* Reset */
* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: "Bree Serif", "Chiron GoRound TC", "Kosugi Maru";
}

/* Navbar */
header {
  background: #000000;
  padding: 15px 40px;
}

button {
  border: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  border: 2px solid white; /* width, style, color */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.mainBtn {
  /* Ensure the border is inside the button dimensions */
  box-sizing: border-box !important;

  /* Force the border visibility */
  border: 2px solid #ffffff !important;
  border-style: solid !important;

  /* Give it some space so the border doesn't touch the text/image */
  padding: 10px 20px;

  /* Make sure it's not transparent */
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: white;
  display: inline-block;
}

.languageIcon {
  /* Ensure the border is inside the button dimensions */
  box-sizing: border-box !important;

  /* Force the border visibility */
  border: 2px solid #ffffff !important;
  border-style: solid !important;

  /* Give it some space so the border doesn't touch the text/image */
  padding-top: 15px;
  padding-bottom: 15px;

  /* Make sure it's not transparent */
  background-color: #000000;
}

header img {
  padding-top: 5px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Hero Section */
.hero {
  height: 75vh;
  background: linear-gradient(135deg, #707070, #000000);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h2 {
  font-size: 45px;
  margin-bottom: 10px;
}

.hero h2 span {
  color: #ffae00;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 1000px;
}

.btn {
  padding: 12px 25px;
  background: #ffae00;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  background: #ff0000;
}

/* Sections */
.section {
  text-align: left;
  word-spacing: normal;
  padding: 80px 40px;
  max-width: 1200px;
  font-size: 18px;
  margin: auto;
}

.section h2 {
  text-align: left;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Project Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* Scroll Reveal Animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.highlight {
  transform: scale(1.1);
  color: #116cff;
  transition: all 0.3s ease;
}
.Wordshighlight {
  color: #352165;
  transition: all 0.3s ease;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}

/* Responsive */
@media (max-width: 600px) {
  .hero h2 {
    font-size: 32px;
  }

  .section {
    padding: 60px 20px;
  }
}
.lang-switcher button {
  margin-left: 6px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* Overlay window style*/
.project-overlay {
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  inset: 0;
  background: #0e0e0e;
  color: white;
  z-index: 999;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}

.project-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.project-overlay h2 {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

/* Background big text */
.project-overlay h3 {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
/* Default (PC / large screens) */
.project-overlay h3 {
  font-size: 300px;
}
.overlay-content img {
  width: 40%;
}
.overlay-content video {
  width: 40%;
}
.overlay-content {
  position: absolute;
  top: 240px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  line-height: 1.4;

  z-index: 2; /* higher = on top */
  animation: pop 0.6s ease;
  font-size: 24px;
  color: white;

  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
  color: white;
}

.overlay-content p {
  font-size: 24px;
    line-height: 1.4;
}
.overlay-content-aps {
  font-size: 20px;
    line-height: 1.4;
}

.overlay-content-ap {
  color: rgb(248, 255, 154);
    line-height: 1.4;
}

/* Tablets */
@media (max-width: 1024px) {
  .project-overlay h3 {
    font-size: 180px;
  }
  .overlay-content img {
    width: 65%;
  }
  .overlay-content video {
    width: 65%;
  }
}

/* Phones */
@media (max-width: 600px) {
  .project-overlay h3 {
    font-size: 96px;
  }
  .overlay-content img {
    width: 80%;
  }
  .overlay-content video {
    width: 80%;
  }

  .overlay-content {
  position: absolute;
  top: 240px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  line-height: 1.4;

  z-index: 2; /* higher = on top */
  animation: pop 0.6s ease;
  font-size: 24px;
  color: white;

  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
  color: white;
  } 
  .overlay-content-aps {
  font-size: 16px;
    line-height: 1.4;
}

.overlay-content p {
  font-size: 20px;
    line-height: 1.4;
}

.overlay-content-ap {
  color: rgb(248, 255, 154);
    line-height: 1.4;
}
}

/* Content on top */

.overlay-content a {
  color: rgb(91, 170, 255);
    line-height: 1.4;
}

.overlay-content-a {
  font-size: 16px;
  color: rgb(227, 255, 102);
    line-height: 1.4;
}



.overlay-content-p {
  font-size: 20px;
    line-height: 1.4;
}


.bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 50;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* button style example */
.bottom-bar button {
  padding: 12px 40px;
  font-size: 16px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.options {
  position: fixed;
  top: 60px; /* adjust position */
  right: 10px;
  width: 220px;
  background: #111;
  color: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  opacity: 0;
  transform: scale(0.9) translateY(-10px);
  pointer-events: none;
  transition: 0.25s ease;

  z-index: 1000; /* higher than everything */
}

.options.show {
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}

.options button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
